<div style="width: 100%;text-align:center;">
    <input type="text" id="inputMkr" onkeyup="myFunction()" placeholder="Suchen ..." title="Schlagwort eingeben">
    </div>
    
    <table id="tblMkr" border="1">
      <tr>
        <th>
          <table>
            <tr style="background-color: #009640; color: white;">
              <th>1. BEDIENEN UND ANWENDEN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr1.png"></th>          
            </tr>        
          </table> 
        </th>
        <th>
          <table>
            <tr style="background-color: #009fe3; color: white;">
              <th>2. INFORMIE&shy;REN UND RECHER&shy;CHIE&shy;REN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr2.png">            
              </th>          
            </tr>        
          </table>      
        </th>
        <th>
          <table>
            <tr style="background-color: #1c619d; color: white;">
              <th>3. KOMMUNI&shy;ZIEREN UND KO&shy;OPERIE&shy;REN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr3.png"></th>          
            </tr>        
          </table>      
        </th>
        <th>
          <table>
            <tr style="background-color: #e5007d; color: white;">
              <th>4. PRODU&shy;ZIEREN UND PRÄ&shy;SEN&shy;TIE&shy;REN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr4.png"></th>
            </tr>        
          </table>
        </th>
        <th>
          <table>
            <tr style="background-color: #e30413; color: white;">
              <th>5. AN&shy;ALY&shy;SIE&shy;REN UND RE&shy;FLEK&shy;TIE&shy;REN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr5.png"></th>          
            </tr>        
          </table>      
        </th>
        <th>
          <table>
            <tr style="background-color: #fab72c; color: white;">
              <th>6. PROBLEM&shy;LÖ&shy;SEN UND MODEL&shy;LIE&shy;REN</th>
              <th><img width="65px" height="65px" style="display:block" src="https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/mkr6.png"></th>          
            </tr>        
          </table>      
        </th>    
      </tr>
      <tr>
        <th style="background-color: #ebf5ec;	color: #009640;">1.1 Medienausstat&shy;tung (Hardware)</th>
        <th style="background-color: #eaf6fe;	color: #009fe3;">2.1 Informationsre&shy;cher&shy;che</th>
        <th style="background-color: #e9ecf6;	color: #1c619d;">3.1 Kommunikations und Kooperations&shy;pro&shy;zesse</th>
        <th style="background-color: #fdeef6;	color: #e6007d;">4.1 Medienproduk&shy;tion und Präsen&shy;tation</th>
        <th style="background-color: #fdece5;	color: #e30413;">5.1 Medienanalyse</th>
        <th style="background-color: #fff8ed;	color: #fab72c;">6.1 Prinzipien der digitalen Welt</th>    
      </tr>
      <tr>
        <td><i>Medienausstattung (Hardware) kennen, auswählen und reflektiert anwenden; mit dieser verantwortungsvoll umgehen</i></td>
        <td><i>Informationsrecherchen zielgerichtet durchführen und dabei Suchstrategien anwenden</i></td>
        <td><i>Kommunikations- und Kooperationsprozesse mit digitalen Werkzeugen zielgerichtet gestalten sowie mediale Produkte und Informationen teilen</i></td>
        <td><i>Medienprodukte adressatengerecht planen, gestalten und präsentieren; Möglichkeiten des Veröffentlichens und Teilens kennen und nutzen</i></td>
        <td><i>Die Vielfalt der Medien, ihre Entwicklung und Bedeutungen kennen, analysieren und reflektieren</i></td>
        <td><i>Grundlegende Prinzipien und Funktionsweisen der digitalen Welt identifizieren, kennen, verstehen und bewusst nutzen</i></td>    
      </tr>
      <tr style="display:none;">
        <td>Hallo1</td>
        <td>Hallo2</td>
        <td>HH3</td>
        <td>HH4</td>
        <td>HH5</td>
        <td>HH6</td>    
      </tr>
      <tr style="display:none;">
        <td>Hallo1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>    
      </tr>
      <tr>
        <th style="background-color: #ebf5ec;	color: #009640;">1.2 Digitale Werkzeuge</th>
        <th style="background-color: #eaf6fe;	color: #009fe3;">2.2 Informationsauswertung</th>
        <th style="background-color: #e9ecf6;	color: #1c619d;">3.2 Kommunikationsund Kooperationsregeln</th>
        <th style="background-color: #fdeef6;	color: #e6007d;">4.2 Gestaltungsmittel</th>
        <th style="background-color: #fdece5;	color: #e30413;">5.2 Meinungsbildung</th>
        <th style="background-color: #fff8ed;	color: #fab72c;">6.2 Algorithmen erkennen</th>    
      </tr>
      <tr>
        <td><i>Verschiedene digitale Werkzeuge und deren Funktionsumfang kennen, auswählen sowie diese kreativ, reflektiert und zielgerichtet einsetzen</i></td>
        <td><i>Themenrelevante Informationen
    und Daten aus Medienangeboten
    filtern, strukturieren, umwandeln und aufbereiten</i></td>
        <td><i>Regeln für digitale Kommunikation und Kooperation kennen,
    formulieren und einhalten</i></td>
        <td><i>Gestaltungsmittel von Medienprodukten kennen, reflektiert anwenden sowie hinsichtlich ihrer Qualität, Wirkung und Aussageabsicht beurteilen</i></td>
        <td><i>Die interessengeleitete Setzung und Verbreitung von Themen in Medien erkennen sowie in Bezug auf die Meinungsbildung beurteilen</i></td>
        <td><i>Algorithmische Muster und Strukturen in verschiedenen Kontexten erkennen, nachvollziehen und
    reflektieren</i></td>    
      </tr>
      <tr style="display:none;">
        <td>Hallo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Hallo</td>
        <td></td>    
      </tr>
      <tr>
        <th style="background-color: #ebf5ec;	color: #009640;">1.3 Datenorganisation</th>
        <th style="background-color: #eaf6fe;	color: #009fe3;">2.3 Informationsbewertung</th>
        <th style="background-color: #e9ecf6;	color: #1c619d;">3.3 Kommunikation und Kooperation in der Gesellschaft</th>
        <th style="background-color: #fdeef6;	color: #e6007d;">4.3 Quellendokumentation</th>
        <th style="background-color: #fdece5;	color: #e30413;">5.3 Identitätsbildung</th>
        <th style="background-color: #fff8ed;	color: #fab72c;">6.3 Modellieren und Programmieren</th>    
      </tr>
      <tr>
        <td><i>Informationen und Daten sicher speichern, wiederfinden und von verschiedenen Orten abrufen; Informationen und Daten zusammenfassen, organisieren und strukturiert aufbewahren</i></td>
        <td><i>Informationen, Daten und ihre Quellen sowie dahinterliegende Strategien und Absichten erkennen und kritisch bewerten</i></td>
        <td><i>Kommunikations- und Kooperationsprozesse im Sinne einer aktiven Teilhabe an der Gesellschaft gestalten und reflektieren; ethische Grundsätze sowie kulturell-gesellschaftliche Normen beachten</i></td>
        <td><i>Standards der Quellenangaben beim Produzieren und Präsentieren von eigenen und fremden
    Inhalten kennen und anwenden</i></td>
        <td><i>Chancen und Herausforderungen
    von Medien für die Realitätswahrnehmung erkennen und analysieren sowie für die eigene Identitätsbildung nutzen</i></td>
        <td><i>Probleme formalisiert beschreiben, Problemlösestrategien entwickeln und dazu eine strukturierte, algorithmische Sequenz planen; diese auch durch Programmieren umsetzen und die gefundene Lösungsstrategie beurteilen</i></td>    
      </tr>
      <tr style="display:none;">
        <td>Halloo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Hello</td>
        <td></td>    
      </tr>
      <tr>
        <th style="background-color: #ebf5ec;	color: #009640;">1.4 Datenschutz und Informationssicherheit</th>
        <th style="background-color: #eaf6fe;	color: #009fe3;">2.4 Informationskritik</th>
        <th style="background-color: #e9ecf6;	color: #1c619d;">3.4 Cybergewalt und -kriminalität</th>
        <th style="background-color: #fdeef6;	color: #e6007d;">4.4 Rechtliche Grundlagen</th>
        <th style="background-color: #fdece5;	color: #e30413;">5.4 Selbstregulierte Mediennutzung</th>
        <th style="background-color: #fff8ed;	color: #fab72c;">6.4 Bedeutung von Algorithmen</th>    
      </tr>
      <tr>
        <td><i>Verantwortungsvoll mit persönlichen und fremden Daten umgehen; Datenschutz, Privatsphäre und Informationssicherheit
    beachten</i></td>
        <td><i>Unangemessene und gefährdende Medieninhalte erkennen und hinsichtlich rechtlicher Grundlagen sowie gesellschaftlicher Normen und Werte einschätzen; Jugend- und Verbraucherschutz kennen und Hilfs- und Unterstützungsstrukturen nutzen</i></td>
        <td><i>Persönliche, gesellschaftliche und wirtschaftliche Risiken und Auswirkungen von Cybergewalt und -kriminalität erkennen sowie Ansprechpartner und Reaktionsmöglichkeiten kennen und nutzen</i></td>
        <td><i>Rechtliche Grundlagen des Persönlichkeits- (u.a. des Bildrechts), Urheber- und Nutzungsrechts (u.a. Lizenzen) überprüfen, bewerten und beachten</i></td>
        <td><i>Medien und ihre Wirkungen beschreiben, kritisch reflektieren und deren Nutzung selbstverantwortlich regulieren; andere bei
    ihrer Mediennutzung unterstützen</i></td>
        <td><i>Einflüsse von Algorithmen und Auswirkung der Automatisierung von Prozessen in der digitalen Welt beschreiben und reflektieren</i></td>    
      </tr>
      <tr style="display:none;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Halloo</td>
        <td></td>    
      </tr>  
      </table>
      
    <script>
    function myFunction() {
      var input, filter, table, tr, td1, td2, td3, td4, td5, td6, i, txtValue1, txtValue2, txtValue3, txtValue4, txtValue5, txtValue6;
      input = document.getElementById("inputMkr");
      filter = input.value.toUpperCase();
      table = document.getElementById("tblMkr");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {    
        td1 = tr[i].getElementsByTagName("td")[0];
        td2 = tr[i].getElementsByTagName("td")[1];
        td3 = tr[i].getElementsByTagName("td")[2];
        td4 = tr[i].getElementsByTagName("td")[3];
        td5 = tr[i].getElementsByTagName("td")[4];
        td6 = tr[i].getElementsByTagName("td")[5];
        if (td1 || td2 || td3 || td4 || td5 || td6) {
          txtValue1 = td1.textContent || td1.innerText;
          txtValue2 = td2.textContent || td2.innerText;
          txtValue3 = td3.textContent || td3.innerText;
          txtValue4 = td4.textContent || td4.innerText;
          txtValue5 = td5.textContent || td5.innerText;
          txtValue6 = td6.textContent || td6.innerText;
          if (txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1  || txtValue3.toUpperCase().indexOf(filter) > -1  || txtValue4.toUpperCase().indexOf(filter) > -1 || txtValue5.toUpperCase().indexOf(filter) > -1 || txtValue6.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>