#inputMkr {
    background-image: url('https://www.berufskolleg-borken.de/wp-content/uploads/2020/02/search-12-24.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    box-shadow: 0 0 20px #009640; margin: 30px
  }
  